@import 'variables';

#results {
    background-color: $white;
    color: $dark-blue;
    padding: 20px;
    font-size: 16px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    max-width: 600px;  
    width: 100%;  
    margin: 20px auto;  

    h2 {
        font-size: 24px;
        margin-bottom: 15px;
        color: $dark-blue; /* تغيير اللون للتأكد من ظهوره */
        font-weight: bold; /* تأكيد وزن الخط */
        text-align: center; /* توسيط النص */
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 12px;
            padding: 12px;
            background-color: $light-blue;
            border: 1px solid $primary-blue;
            border-radius: $border-radius;
            color: $dark-blue;
            font-size: 16px;
        }
    }
}
